<div class="log-chart">
  <canvas id="chart-canvas" style="width: 100%;height: 100%;"></canvas>
</div>
<div class="log-table">
  <div id="table-list" class="table-responsive">
    <table class="table table-bordered shadow">
      <thead class="thead-light log-table-head">
        <tr>
          <th *ngFor="let column of columns">
            <scan class="sortable {{column | replace:'space':'hyphen'}}"
                  [ngClass]="sortColumn == column ? order : ''"
                  (click)="sortByColumnName(column)">
              {{ column | uppercase }}
            </scan>
          </th>
        </tr>
      </thead>
      <tbody class="log-table-body">
        <tr *ngFor="let userLog of userLogs | orderBy:sortColumn:order">
  	      <td>{{userLog.id}}</td>
  	      <td>{{userLog.user.username}}</td>
  	      <td>{{userLog.user.authorityName}}</td>
          <td>{{userLog.loggedTime | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
